<div class="container">
    <h1>Tabla de Datos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {{#each allUsers}}
            <tr>
                <td>{{this.name}}</td>
                <td class="email">{{this.email}}</td>
                <td><select data-email="{{this.email}}" data-role="{{this.role}}" id="miSelect">
                        <option value="{{this.role}}" class="actual" selected disabled >{{this.role}}</option>
                        <option value="admin">admin</option>
                        <option value="premium">premim</option>
                        <option value="user">user</option>
                    </select></td>
                <td><button class="btnDelete" data-email="{{this.email}}">eliminar</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<button class="limpiar"> limpiar usuarios sin conectarse</button>



<script>
    const btnDelete = document.querySelectorAll(".btnDelete")
    btnDelete.forEach((button) => {
        button.addEventListener("click", (e) => {
            let email = e.target.dataset.email;
            eliminar(email)
        })
    })
    const eliminar = async (email) => {
        try {
            const response = await fetch(`/api/users/eliminar`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email })
            });
            if (response.status === 200) { // Verificar eliminación exitosa
                console.log('usuario eliminado exitosamente');
                // Redirigir a la página "admin" después de eliminar
                window.location.reload(true);
            } else {
                console.log('Error al eliminar el usuario:', response.status);
            } "/api/users/";
        } catch (err) {

        }
    }


    const selectElements = document.querySelectorAll('select');
    selectElements.forEach(function (select) {
        select.addEventListener('change', async (e)=> {
            let actual = e.target.dataset.role;
            // Obtener el valor del correo electrónico de la fila seleccionada
            let email = e.target.dataset.email;
            console.log('Correo electrónico seleccionado:', email);
            const seleccionActual = select.value;
            console.log(email,seleccionActual,actual)
            if (seleccionActual !== actual) {
                const response = await fetch(`/api/users/asignar`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: email, role: seleccionActual })
                });
                if (response.status === 200) { // Verificar eliminación exitosa
                console.log('usuario cambiado exitosamente');
                // Redirigir a la página "admin" después de eliminar
                window.location.reload(true);
            } else {
                console.log('Error al asignar el rol el usuario:', response.status);
            } "/api/users/";
            }else{

            }

        });
    });

    const limpiar =document.querySelector(".limpiar")
    limpiar.addEventListener("click",async ()=>{
        const response = await fetch(`/api/users/limpiar`, {
                    method: 'DELETE',
                });
                if (response.status === 200) { // Verificar eliminación exitosa
                console.log('usuarios eliminados exitosamente');
                // Redirigir a la página "admin" después de eliminar
                window.location.reload(true);
            } else {
                console.log('Error al eliminar los usuarios:', response.status);
            } "/api/users/";
    })
</script>